apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: funmooc
    service: nginx
    version: "{{ funmooc_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "funmooc-nginx-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: {{ funmooc_nginx_replicas }}
  template:
    metadata:
      labels:
        app: funmooc
        service: nginx
        version: "{{ funmooc_nginx_image_tag }}"
        deploymentconfig: "funmooc-nginx-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: deploymentconfig
                  operator: In
                  values:
                  - "funmooc-nginx-{{ deployment_stamp }}"
              topologyKey: kubernetes.io/hostname
      containers:
        - image: "{{ funmooc_nginx_image_name }}:{{ funmooc_nginx_image_tag }}"
          name: nginx
          ports:
            - containerPort: {{ funmooc_nginx_port }}
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/nginx/conf.d
              name: funmooc-v-nginx
              readOnly: true
            - mountPath: /data/media/funmooc
              name: funmooc-v-media
              readOnly: true
            - mountPath: /data/static/funmooc
              name: funmooc-v-static
              readOnly: true
            {% if activate_http_basic_auth -%}
            - mountPath: "{{ http_basic_auth_user_file | dirname }}"
              name: funmooc-htpasswd
            {% endif %}

      volumes:
        - name: funmooc-v-nginx
          configMap:
            name: funmooc-nginx-{{ deployment_stamp }}
        - name: funmooc-v-media
          persistentVolumeClaim:
            claimName: funmooc-pvc-media
        - name: funmooc-v-static
          persistentVolumeClaim:
            claimName: funmooc-pvc-static
        {% if activate_http_basic_auth -%}
        - name: funmooc-htpasswd
          secret:
            secretName: "{{ funmooc_nginx_htpasswd_secret_name }}"
        {% endif %}
