apiVersion: v1
kind: Secret
metadata:
  labels:
    app: funmooc
    service: app
  name: "{{ funmooc_secret_name }}"
  namespace: "{{ project_name }}"
data:
  DJANGO_SECRET_KEY: "{{ FUNMOOC_VAULT.DJANGO_SECRET_KEY | default('supersecret') | b64encode }}"
{% if FUNMOOC_VAULT.DJANGO_SENTRY_DSN is defined and FUNMOOC_VAULT.DJANGO_SENTRY_DSN is not none %}
  DJANGO_SENTRY_DSN: "{{ FUNMOOC_VAULT.DJANGO_SENTRY_DSN | b64encode }}"
{% endif %}
{% if FUNMOOC_VAULT.DJANGO_AWS_ACCESS_KEY_ID is defined and FUNMOOC_VAULT.DJANGO_AWS_ACCESS_KEY_ID is not none %}
  DJANGO_AWS_CLOUDFRONT_DOMAIN: "{{ FUNMOOC_VAULT.DJANGO_AWS_CLOUDFRONT_DOMAIN | b64encode }}"
  DJANGO_AWS_ACCESS_KEY_ID: "{{ FUNMOOC_VAULT.DJANGO_AWS_ACCESS_KEY_ID | b64encode }}"
  DJANGO_AWS_SECRET_ACCESS_KEY: "{{ FUNMOOC_VAULT.DJANGO_AWS_SECRET_ACCESS_KEY | b64encode }}"
{% endif %}
  DB_USER: "{{ FUNMOOC_VAULT.DB_USER | default('edxapp_user') | b64encode }}"
  DB_PASSWORD: "{{ FUNMOOC_VAULT.DB_PASSWORD | default('password') | b64encode }}"
