# We use the BUILD_TARGET environment variable to build the development or
# production image. It defaults to the development image. To build the
# production image, use:
#
# BUILD_TARGET=production DOCKER_USER=$(id -u) docker-compose build app
#
# or
#
# BUILD_TARGET=production make build
version: "3.4"

services:
  db:
    image: postgres:9.6
    env_file:
      - "env.d/${BUILD_TARGET:-development}"
    ports:
      - "5440:5432"

  elasticsearch:
    image: fundocker/openshift-elasticsearch:6.6.2

  app:
    build:
      context: .
      target: ${BUILD_TARGET:-development}
      args:
        DOCKER_USER: ${DOCKER_USER:-1000}
    # We prefix our images build with the current commit sha1 in the CI to make
    # them unique and avoid collisions in parallel builds. Since the CIRCLE_SHA1
    # environment variable is not defined for your local tests, we should be
    # fine.
    image: "funmooc:${CIRCLE_SHA1}${BUILD_TARGET:-development}"
    env_file: "env.d/${BUILD_TARGET:-development}"
    ports:
      - "8070:8000"
    volumes:
      - ./src/backend:/app
      - ./data/static:/data/static
      - ./data/media:/data/media
    depends_on:
      - "db"
      - "elasticsearch"

  node:
    image: circleci/node:10
    working_dir: /app/src/frontend
    user: "${DOCKER_USER:-1000}"
    volumes:
      - .:/app

  terraform:
    image: hashicorp/terraform:light
    env_file: env.d/aws
    user: "${DOCKER_USER:-1000}"
    working_dir: /app
    volumes:
      - ./src/aws:/app
