///
/// Color palette and schemes
///

// Named colors
// ---------
$palette: (
  'black': #000000,
  'dark-grey': #232323,
  'charcoal': #29303b,
  'slate-grey': #686868,
  'battleship-grey': #686f7a,
  'light-grey': #d2d2d2,
  'silver': #d5dbe0,
  'azure2': #eceff1,
  'smoke': #fdfdfd,
  'white': #ffffff,
  'denim': #0067b7,
  'denim2': #0067b4,
  'steelblue3': #3e8dc9,
  'blue-green': #0da0a3,
  'orange': #e75b19,
  'greeny-blue': #47b7ba,
  'mediumturquoise': #58c6c2,
  'firebrick6': #f72c30,
  'dodgerblue4': #1057a7,
  'cerulean': #45bde2,
  'navy': #08223c,
);

// Named gradients
// ---------
$neutral-gradient: linear-gradient(
  to top,
  r-color('silver') 0,
  r-color('smoke') 13rem,
  r-color('white') 14rem,
  r-color('white')
);
$greeny-gradient: linear-gradient(
  285deg,
  r-color('steelblue3') 3%,
  r-color('greeny-blue') 98%
);
$middle-gradient: linear-gradient(
  285deg,
  r-color('cerulean') 3%,
  r-color('dodgerblue4') 98%
);
$dark-gradient: linear-gradient(
  285deg,
  r-color('dodgerblue4') 3%,
  r-color('navy') 98%
);
$white-mask-gradient: (
  linear-gradient(
    to right,
    r-color('white') 0%,
    rgba(r-color('white'), 0.85) 15%,
    rgba(r-color('white'), 0.15) 60%,
    rgba(r-color('white'), 0) 70%
  ),
  linear-gradient(
    to left,
    r-color('white') 0%,
    rgba(r-color('white'), 0.85) 15%,
    rgba(r-color('white'), 0.15) 60%,
    rgba(r-color('white'), 0) 70%
  )
);

// Basic color schemes
// ---------
$orange-scheme: (
  font-color: r-color('white'),
  link-color: r-color('light-grey'),
  svg-color: r-color('white'),
  background: r-color('orange'),
  hover-font-color: r-color('white'),
  hover-background: adjust-color(r-color('orange'), $lightness: -10%),
);
$dodgerblue4-color-scheme: (
  font-color: r-color('white'),
  link-color: r-color('mediumturquoise'),
  svg-color: r-color('white'),
  background: r-color('dodgerblue4'),
  hover-font-color: r-color('denim'),
  hover-background: adjust-color(r-color('mediumturquoise'), $lightness: 8%),
);
$cerulean-color-scheme: (
  font-color: r-color('white'),
  link-color: r-color('light-grey'),
  svg-color: r-color('white'),
  background: r-color('cerulean'),
  hover-font-color: r-color('white'),
  hover-background: r-color('mediumturquoise'),
);
$navy-color-scheme: (
  font-color: r-color('white'),
  link-color: r-color('mediumturquoise'),
  svg-color: r-color('white'),
  background: r-color('navy'),
  hover-font-color: r-color('denim'),
  hover-background: adjust-color(r-color('mediumturquoise'), $lightness: 8%),
);
$blue-green-scheme: (
  font-color: r-color('white'),
  link-color: r-color('light-grey'),
  svg-color: r-color('white'),
  background: r-color('blue-green'),
  hover-font-color: r-color('white'),
  hover-background: r-color('mediumturquoise'),
);
$denim-scheme: (
  font-color: r-color('white'),
  link-color: r-color('mediumturquoise'),
  svg-color: r-color('white'),
  background: r-color('denim'),
  hover-font-color: r-color('white'),
  hover-background: lighten(r-color('denim'), 8%),
);
$mediumturquoise-scheme: (
  font-color: r-color('denim'),
  svg-color: r-color('denim'),
  background: r-color('mediumturquoise'),
  hover-font-color: r-color('denim'),
  hover-background: lighten(r-color('mediumturquoise'), 8%),
);
$white-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('dark-grey'),
  h2-color: r-color('dark-grey'),
  svg-color: r-color('black'),
  background: r-color('white'),
  hover-font-color: r-color('orange'),
  hover-background: darken(r-color('white'), 8%),
);
$light-grey-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('dark-grey'),
  h2-color: r-color('dark-grey'),
  svg-color: r-color('black'),
  background: r-color('light-grey'),
  hover-font-color: r-color('blue-green'),
  hover-background: r-color('battleship-grey'),
);
$azure2: (
  font-color: r-color('black'),
  h1-color: r-color('dark-grey'),
  h2-color: r-color('dark-grey'),
  svg-color: r-color('black'),
  background: r-color('azure2'),
  hover-font-color: r-color('blue-green'),
  hover-background: r-color('battleship-grey'),
);
$clouds-scheme: (
  background: bottom left / 100% 70% no-repeat r-color('smoke')
    url('../../richie/images/components/clouds.jpg'),
);
$transparent-white-scheme: (
  font-color: r-color('white'),
  svg-color: r-color('white'),
  background: transparent,
  border-color: r-color('white'),
  hover-font-color: r-color('white'),
  hover-svg-color: r-color('white'),
  hover-background: rgba(r-color('white'), 0.3),
);
$transparent-dark-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('dark-grey'),
  h2-color: r-color('dark-grey'),
  link-color: r-color('orange'),
  svg-color: r-color('black'),
  background: transparent,
  border-color: r-color('black'),
  hover-font-color: r-color('orange'),
  hover-svg-color: r-color('orange'),
  hover-border-color: r-color('orange'),
);
$neutral-gradient-scheme: (
  font-color: r-color('dark-grey'),
  link-color: r-color('orange'),
  svg-color: r-color('dark-grey'),
  background: $neutral-gradient,
);
$greeny-gradient-scheme: (
  font-color: r-color('white'),
  link-color: r-color('white'),
  svg-color: r-color('white'),
  background: $greeny-gradient,
  hover-font-color: r-color('white'),
);
$middle-gradient-scheme: (
  font-color: r-color('white'),
  link-color: r-color('white'),
  svg-color: r-color('white'),
  background: $middle-gradient,
  hover-font-color: r-color('white'),
);
$dark-gradient-scheme: (
  font-color: r-color('white'),
  link-color: r-color('white'),
  svg-color: r-color('white'),
  background: $dark-gradient,
  hover-font-color: r-color('white'),
);
$white-mask-gradient-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('dark-grey'),
  h2-color: r-color('dark-grey'),
  svg-color: r-color('black'),
  background: $white-mask-gradient,
  hover-font-color: r-color('orange'),
);

// Theme schemes
$r-theme: (
  // Used from styleguide to build available scheme to demonstrate, used to create button variant
  base-schemes: (
    primary: $orange-scheme,
    secondary: $denim-scheme,
    tertiary: $mediumturquoise-scheme,
    clear: $white-scheme,
    light: $light-grey-scheme,
    lightest: $azure2,
    neutral-gradient: $neutral-gradient-scheme,
    middle-gradient: $middle-gradient-scheme,
    dark-gradient: $dark-gradient-scheme,
    white-mask-gradient: $white-mask-gradient-scheme,
    transparent-darkest: $transparent-dark-scheme,
    clouds: $clouds-scheme,
  ),
  base-gradients: (
    neutral-gradient: $neutral-gradient,
    middle-gradient: $middle-gradient,
    dark-gradient: $dark-gradient,
    white-mask-gradient: $white-mask-gradient,
  ),
  topbar: (
    base-background: r-color('white'),
    over-background: rgba(r-color('white'), 0.1),
    over-border: r-color('light-grey'),
    hamburger-color: r-color('denim'),
    item-color: r-color('black'),
    item-hover-color: r-color('orange'),
    item-active-color: r-color('denim2'),
    item-cta-color: r-color('white'),
    item-cta-background: r-color('orange'),
    item-cta-border: r-color('orange'),
    item-cta-hollow-color: r-color('orange'),
    item-cta-hollow-background: transparent,
    item-cta-hollow-border: transparent,
    item-divider-border: r-color('light-grey'),
  ),
  body-content: (
    base-color: r-color('black'),
    base-background: r-color('white'),
    insert-background-image: url('../../richie/images/components/wave-dark.svg'),
    base-link-color: r-color('denim'),
  ),
  body-footer: (
    base-color: r-color('light-grey'),
    base-background: r-color('dark-grey'),
    lang-color: r-color('white'),
    section-hover: r-color('white'),
    subtitle-color: r-color('white'),
    badge-button: $orange-scheme,
  ),
  body-mentions: (
    base-color: r-color('white'),
    base-background: r-color('black'),
    poweredby-hover: r-color('white'),
  ),
  subheader: (
    base: $dark-gradient-scheme,
    container: $middle-gradient-scheme,
    cta: $orange-scheme,
    media-background: r-color('white'),
    teaser-border: rgba(r-color('mediumturquoise'), 0.7),
    search-input-color: r-color('white'),
    search-input-background: transparent,
    search-input-border: r-color('white'),
    search-input-placeholder: r-color('white'),
    social-network-badges: $transparent-white-scheme,
  ),
  subheader-alt: (
    container-background: null,
    container-border: r-color('mediumturquoise'),
    background-image: url('../../richie/images/components/wave-white.svg'),
  ),
  block-schemes: (
    empty-color: r-color('slate-grey'),
    divider: r-color('azure2'),
    variants: (
      clear: $light-grey-scheme,
      light: $light-grey-scheme,
      lightest: $azure2,
      gradient-neutral: $neutral-gradient-scheme,
      gradient-dark: $dark-gradient-scheme,
      clouds: $clouds-scheme,
    ),
    alt-arc: url('../../richie/images/components/arc-white.svg'),
    alt-curve: url('../../richie/images/components/curve-white.svg'),
    alt-wave: url('../../richie/images/components/wave-white.svg'),
  ),
  accordion-plan: (
    item-dot-color: r-color('black'),
    title-color: r-color('orange'),
    content-color: r-color('slate-grey'),
    border-color: r-color('light-grey'),
    background-color: null,
    dot-closed: url('../../richie/images/components/add-outline.svg'),
    dot-opened: url('../../richie/images/components/minus-outline.svg'),
  ),
  large-banner: (
    base-background-color: r-color('dark-grey'),
    base-color: r-color('white'),
    base-shadow: r-color('dark-grey'),
  ),
  hero-intro: (
    insert-background-image:
      url('../../richie/images/components/wave-white.svg'),
    inner-background: $white-mask-gradient,
    title-color: r-color('orange'),
    title-alt-color: r-color('dark-grey'),
    content-color: r-color('slate-grey'),
    search-input-background: rgba(r-color('white'), 0.7),
    search-btn-background: r-color('orange'),
    search-icon-fill: r-color('white'),
    cta-variant-from: r-color('orange'),
    cta-variant-to: r-color('orange'),
    cta-color: r-color('white'),
    cta-border: r-color('orange'),
  ),
  section-plugin: (
    title-emphased-color: r-color('orange'),
  ),
  licence-plugin: (
    content-color: r-color('slate-grey'),
    description-color: r-color('slate-grey'),
  ),
  blogpost-glimpse: (
    card-background: r-color('white'),
    title-color: r-color('black'),
    title-hover-color: r-color('orange'),
    theme-border: r-color('orange'),
    content-color: r-color('slate-grey'),
    content-hover-color: r-color('black'),
    media-background: r-color('light-grey'),
    date-color: r-color('slate-grey'),
    date-hover-color: r-color('orange'),
    empty-color: r-color('dark-grey'),
  ),
  blogpost-glimpse-mini: (
    border: r-color('light-grey'),
  ),
  blogpost-glimpse-favorite: (
    content-color: inherit,
    title-color: r-color('denim'),
    excerpt-color: r-color('slate-grey'),
    cta: $orange-scheme,
    cta-hover: $orange-scheme,
  ),
  button-caesura: (
    base: $orange-scheme,
    base-hover: $orange-scheme,
  ),
  card-glimpse: (
    base-background: r-color('white'),
    divider-color: r-color('orange'),
    title-color: r-color('black') !important,
    content-color: r-color('slate-grey') !important,
  ),
  category-glimpse: (
    base-border: rgba(r-color('black'), 0.125),
    base-hover-border: r-color('orange'),
    base-hover-color: r-color('orange'),
    base-background: r-color('white'),
    body-color: r-color('black'),
    title-color: inherit,
    title-hover-color: r-color('orange'),
    logo-empty-background: r-color('smoke'),
  ),
  course-glimpse-list: (
    count-color: r-color('slate-grey'),
  ),
  course-glimpse: (
    card-background: r-color('white'),
    base-shadow: 0 0 6px r-color('light-grey'),
    base-hover-shadow: 0 0 6px r-color('battleship-grey'),
    cta-background: r-color('mediumturquoise'),
    empty-color: r-color('slate-grey'),
    icon-shadow: (
      0 10px 50px 0 rgba(r-color('black'), 0.05),
      0 12px 34px 0 rgba(r-color('black'), 0.15),
    ),
    icon: $greeny-gradient-scheme,
    content-color: r-color('slate-grey'),
    title-color: r-color('black'),
    organization-media-empty-background: r-color('smoke'),
    organization-color: r-color('orange'),
    svg-icon-fill: r-color('white'),
    footer: $orange-scheme,
  ),
  category-badges: (
    primary-item: $orange-scheme,
    secondary-item: $orange-scheme,
    tertiary-item: $orange-scheme,
  ),
  category-tags: (
    primary-item: $orange-scheme,
    secondary-item: $orange-scheme,
    tertiary-item: $orange-scheme,
  ),
  characteristics: (
    primary-item: $orange-scheme,
    secondary-item: $denim-scheme,
    tertiary-item: $mediumturquoise-scheme,
  ),
  organization-glimpse-list: (
    empty-color: r-color('slate-grey'),
    empty-background: transparent,
  ),
  organization-glimpse: (
    base-background: r-color('white'),
    base-border: r-color('light-grey'),
    logo-empty-background: r-color('smoke'),
    link-border: r-color('orange'),
  ),
  organization-glimpse-row: (
    base-background: r-color('white'),
    divider: r-color('light-grey'),
    hover-background: darken(r-color('white'), 2%),
    hover-title-color: r-color('orange'),
  ),
  pagination: (
    item-color: r-color('slate-grey'),
    item-background: r-color('white'),
    item-border: r-color('light-grey'),
    current-color: r-color('white'),
    current-background: r-color('orange'),
  ),
  person-glimpse: (
    card-background: r-color('white'),
    base-shadow: 0 1px 2px rgba(r-color('battleship-grey'), 0.4),
    title-color: r-color('black'),
    empty-background: r-color('smoke'),
    category: $orange-scheme,
    category-title: transparent,
    bio-color: r-color('slate-grey'),
  ),
  program-glimpse: (
    card-background: r-color('white'),
    card-border: null,
    card-hover-border: null,
    content-color: r-color('slate-grey'),
    title-color: r-color('denim'),
    media-decoration: url('../../richie/images/components/arc-white.svg'),
    empty-background: r-color('smoke'),
    footer: $orange-scheme,
    base-shadow: 0 0 6px r-color('light-grey'),
    base-hover-shadow: 0 0 6px r-color('battleship-grey'),
  ),
  program-glimpse-empty: (
    card-color: r-color('slate-grey'),
    hover-border: r-color('light-grey'),
  ),
  quote-glimpse: (
    base-background: r-color('white'),
    base-shadow: 0 0 4px r-color('light-grey'),
    title-color: r-color('black'),
    content-color: r-color('battleship-grey'),
    icon-color: r-color('dark-grey'),
  ),
  row_half-glimpse: (
    base-background: r-color('white'),
    divider-color: r-color('orange'),
    title-color: r-color('black') !important,
    content-color: r-color('slate-grey') !important,
  ),
  row_full-glimpse: (
    base-background: r-color('white'),
    divider-color: r-color('orange'),
    title-color: r-color('black') !important,
    content-color: r-color('slate-grey') !important,
  ),
  base-search: (
    input-background: transparent,
    icon-fill: r-color('slate-grey'),
    input-border: r-color('slate-grey'),
  ),
  social-network-badges: (
    base: $orange-scheme,
  ),
  blogpost-detail: (
    aside-glimpse-title-color: r-color('orange'),
    aside-glimpse-title-background: r-color('white'),
    aside-glimpse-title-border: r-color('orange'),
    categories: $orange-scheme,
    categories-tag-background: transparent,
    top-border: r-color('light-grey'),
    theme-border: r-color('orange'),
    pubdate-border: r-color('orange'),
    authors-border: r-color('orange'),
    cover-empty-background: r-color('smoke'),
    body-color: r-color('black'),
    headline-color: r-color('slate-grey'),
    headline-border: r-color('dark-grey'),
    headline-title-color: r-color('dark-grey'),
    social-network-badges: $transparent-dark-scheme,
  ),
  category-detail: (
    empty-background: r-color('smoke'),
    insert-background-image:
      url('../../richie/images/components/wave-white.svg'),
    logo-background: r-color('white'),
    logo-border: r-color('light-grey'),
    logo-shadow: 0 0.25rem 1.5625rem r-color('slate-grey'),
    intro-title-color: r-color('orange'),
    description-color: r-color('slate-grey'),
  ),
  course-detail: (
    organizations-title-color: r-color('slate-grey'),
    aside-title-border: r-color('dark-grey'),
    primary-group-title-color: r-color('dark-grey'),
    primary-group-background: $neutral-gradient,
    primary-group-arc: url('../../richie/images/components/arc-white.svg'),
    run-cta: $denim-scheme,
    run-descriptions-divider: r-color('light-grey'),
    plan-title-color: r-color('orange'),
    license-label-color: r-color('denim2'),
    checkmark-list-decoration:
      url('../../richie/images/components/checkmark.svg'),
  ),
  organization-detail: (
    banner-empty-background: r-color('smoke'),
    insert-background-image:
      url('../../richie/images/components/wave-white.svg'),
    logo-border: r-color('light-grey'),
    logo-shadow: 0 0.25rem 1.5625rem r-color('slate-grey'),
    intro-title: r-color('orange'),
    categories: $orange-scheme,
    description-color: r-color('slate-grey'),
  ),
  program-detail: (
    cover-empty-background: r-color('smoke'),
  ),
  search-results: (
    overlay: r-color('black'),
    color: r-color('light-grey'),
  ),
  search-filters: (
    base-background: r-color('white'),
    toggler-background: r-color('azure2'),
    toggler-shadow: 0 0 0.2rem r-color('slate-grey'),
    toggler-fill: r-color('slate-grey'),
  ),
  search-filters-pane: (
    title-color: r-color('black'),
    clearer-hover-color: r-color('orange'),
  ),
  search-filters-group: (
    title-color: r-color('battleship-grey'),
    modal-overlay-background: r-color('white'),
  ),
  search-filters-group-modal: (
    base-color: r-color('slate-grey'),
    base-background: r-color('white'),
    base-border: r-color('slate-grey'),
    input-color: r-color('black'),
    input-background: r-color('light-grey'),
    item-border: r-color('light-grey'),
    close-color: r-color('black'),
    close-border: r-color('light-grey'),
    close-background: r-color('white'),
    button-color: r-color('white'),
    button-background: r-color('orange'),
    overlay-background: rgba(r-color('black'), 0.75),
  ),
  search-filters-value: (
    base-color: r-color('slate-grey'),
    base-border: r-color('light-grey'),
    hover-color: r-color('orange'),
    hover-border: r-color('light-grey'),
    active-color: r-color('orange'),
    count-color: r-color('slate-grey'),
    count-background: r-color('white'),
  ),
  search-filters-value-parent: (
    unfold-color: r-color('black'),
  ),
  styleguide: (
    grid-line-color: lighten(r-color('silver'), 5%),
    grid-border-color: r-color('silver'),
    cta-sample: $denim-scheme,
    spot-sample: $orange-scheme,
  ),
  selector: (
    base-background: r-color('white'),
    hover-background: r-color('white'),
    base-color: r-color('charcoal'),
    hover-color: r-color('charcoal'),
    base-border: r-color('light-grey'),
  ),
  spinner: (
    base-color: r-color('denim'),
  )
);
