apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: funmooc
    service: elasticsearch
    version: "{{ funmooc_elasticsearch_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "funmooc-elasticsearch-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: funmooc
        service: elasticsearch
        version: "{{ funmooc_elasticsearch_image_tag }}"
        deploymentconfig: "funmooc-elasticsearch-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - image: {{ funmooc_elasticsearch_image_name }}:{{ funmooc_elasticsearch_image_tag }}
          name: elasticsearch
          ports:
            - containerPort: {{ funmooc_elasticsearch_port }}
              protocol: TCP
