apiVersion: v1
kind: Service
metadata:
  labels:
    app: funmooc
    service: elasticsearch
    version: "{{ funmooc_elasticsearch_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  # name of the service should be database host name in settings
  name: "funmooc-elasticsearch-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: {{ funmooc_elasticsearch_port }}-tcp
    port: {{ funmooc_elasticsearch_port }}
    protocol: TCP
    targetPort: {{ funmooc_elasticsearch_port }}
  selector:
    app: funmooc
    deploymentconfig: "funmooc-elasticsearch-{{ deployment_stamp }}"
  type: ClusterIP
