// Basic color schemes
// ---------
$lipstick-scheme: (
  font-color: r-color('white'),
  link-color: r-color('white'),
  svg-color: r-color('white'),
  background: r-color('lipstick'),
  hover-font-color: r-color('white'),
  hover-background: scale-color(r-color('lipstick'), $lightness: -10%),
);
$indianred3-scheme: (
  font-color: r-color('white'),
  link-color: r-color('light-grey'),
  svg-color: r-color('white'),
  background: r-color('indianred3'),
  hover-font-color: r-color('white'),
  hover-background: r-color('firebrick6'),
);
$darkish-blue-scheme: (
  font-color: r-color('white'),
  link-color: r-color('light-grey'),
  svg-color: r-color('white'),
  background: r-color('darkish-blue'),
  hover-font-color: r-color('white'),
  hover-background: scale-color(r-color('darkish-blue'), $lightness: -10%),
);
$ocean-blue-scheme: (
  font-color: r-color('white'),
  link-color: r-color('lipstick'),
  svg-color: r-color('white'),
  background: r-color('ocean-blue'),
  hover-font-color: r-color('white'),
  hover-background: scale-color(r-color('ocean-blue'), $lightness: -10%),
);
$mediumturquoise-scheme: (
  font-color: r-color('ocean-blue'),
  svg-color: r-color('ocean-blue'),
  background: r-color('mediumturquoise'),
  hover-font-color: r-color('ocean-blue'),
  hover-background: lighten(r-color('mediumturquoise'), 8%),
);
$white-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('black-two'),
  h2-color: r-color('black-two'),
  svg-color: r-color('black'),
  background: r-color('white'),
  hover-font-color: r-color('lipstick'),
  hover-background: darken(r-color('white'), 8%),
);
$light-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('black-two'),
  h2-color: r-color('black-two'),
  svg-color: r-color('black'),
  background: r-color('light-grey'),
  hover-font-color: r-color('lipstick'),
  hover-background: r-color('battleship-grey'),
);
$lightest-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('black-two'),
  h2-color: r-color('black-two'),
  svg-color: r-color('black'),
  background: r-color('pale-grey'),
  hover-font-color: r-color('lipstick'),
  hover-background: r-color('battleship-grey'),
);
$clouds-scheme: (
  background: bottom left / 100% 70% no-repeat r-color('smoke')
    url('../../richie/images/components/clouds.jpg'),
);
$transparent-clear-scheme: (
  font-color: r-color('white'),
  svg-color: r-color('white'),
  background: transparent,
  border-color: r-color('white'),
  hover-font-color: r-color('white'),
  hover-svg-color: r-color('white'),
  hover-background: rgba(r-color('white'), 0.3),
);
$transparent-darkest-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('black-two'),
  h2-color: r-color('black-two'),
  svg-color: r-color('black'),
  background: transparent,
  border-color: r-color('black'),
  hover-font-color: r-color('lipstick'),
  hover-svg-color: r-color('lipstick'),
  hover-border-color: r-color('lipstick'),
);
$neutral-gradient-scheme: (
  font-color: r-color('black-two'),
  svg-color: r-color('black-two'),
  background: $neutral-gradient,
);
$light-gradient-scheme: (
  font-color: r-color('navy-blue'),
  svg-color: r-color('navy-blue'),
  background: $light-gradient,
);
$middle-gradient-scheme: (
  font-color: r-color('white'),
  svg-color: r-color('white'),
  background: $middle-gradient,
  hover-font-color: r-color('white'),
);
$dark-gradient-scheme: (
  font-color: r-color('white'),
  svg-color: r-color('white'),
  background: $dark-gradient,
  hover-font-color: r-color('white'),
);
$white-mask-gradient-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('black'),
  h2-color: r-color('black'),
  svg-color: r-color('black'),
  background: $white-mask-gradient,
  hover-font-color: r-color('lipstick'),
);
$clear-red-scheme: (
  font-color: r-color('lipstick'),
  h1-color: r-color('lipstick'),
  h2-color: r-color('lipstick'),
  svg-color: r-color('lipstick'),
  background: r-color('white'),
  hover-font-color: r-color('lipstick'),
);
