// Theme schemes
$r-theme: (
  banner: (
    error: $lipstick-scheme,
    warning: $indianred3-scheme,
    success: $lightest-scheme,
    info: $light-scheme,
  ),
  base-schemes: (
    primary: $lipstick-scheme,
    secondary: $ocean-blue-scheme,
    tertiary: $darkish-blue-scheme,
    clear: $white-scheme,
    light: $light-scheme,
    lightest: $lightest-scheme,
    indianred3: $indianred3-scheme,
    clear-red: $clear-red-scheme,
    neutral-gradient: $neutral-gradient-scheme,
    light-gradient: $light-gradient-scheme,
    middle-gradient: $middle-gradient-scheme,
    dark-gradient: $dark-gradient-scheme,
    white-mask-gradient: $white-mask-gradient-scheme,
    clouds: $clouds-scheme,
    transparent-clear: $transparent-clear-scheme,
    transparent-darkest: $transparent-darkest-scheme,
  ),
  base-gradients: (
    neutral-gradient: $neutral-gradient,
    light-gradient: $light-gradient,
    middle-gradient: $middle-gradient,
    dark-gradient: $dark-gradient,
    white-mask-gradient: $white-mask-gradient,
  ),
  cookie-consent: (
    base-background: r-color('darkish-blue'),
    cta-allow: r-color('ocean-blue'),
    cta-deny: r-color('indianred3'),
    light-color: r-color('white'),
    dark-color: r-color('dark'),
  ),
  topbar: (
    base-background: null,
    over-background: null,
    over-border: null,
    hamburger-color: r-color('ocean-blue'),
    item-color: r-color('black'),
    item-hover-color: r-color('darkish-blue'),
    item-active-color: r-color('ocean-blue'),
    item-cta-color: r-color('white'),
    item-cta-background: r-color('lipstick'),
    item-cta-border: r-color('lipstick'),
    item-cta-hollow-color: r-color('black-two'),
    item-cta-hollow-background: transparent,
    item-cta-hollow-border: transparent,
    item-divider-border: r-color('light-grey'),
  ),
  body-content: (
    base-color: r-color('black'),
    base-background: r-color('white'),
    insert-background-image: url('../../richie/images/components/wave-dark.svg'),
    base-link-color: r-color('lipstick'),
  ),
  body-footer: (
    base-color: r-color('light-grey'),
    base-background: r-color('black-two'),
    lang-color: r-color('white'),
    section-hover: r-color('white'),
    subtitle-color: r-color('white'),
    badge-button: $lipstick-scheme,
  ),
  body-mentions: (
    base-color: r-color('white'),
    base-background: r-color('black'),
    poweredby-hover: r-color('white'),
  ),
  subheader: (
    base: $darkish-blue-scheme,
    container: $dark-gradient-scheme,
    cta: $darkish-blue-scheme,
    media-background: r-color('white'),
    teaser-border: rgba(r-color('white'), 0.3),
    search-input-color: r-color('white'),
    search-input-background: transparent,
    search-input-border: r-color('white'),
    search-input-placeholder: r-color('white'),
    social-network-badges: $transparent-clear-scheme,
    category-badge: $lipstick-scheme,
  ),
  subheader-alt: (
    container-background: $dark-gradient,
    container-border: null,
    background-image: url('../../richie/images/components/wave-white.svg'),
  ),
  block-schemes: (
    empty-color: r-color('brownish-grey'),
    divider: r-color('pale-grey'),
    variants: (
      clear: $light-scheme,
      light: $middle-gradient-scheme,
      lightest: $lightest-scheme,
      gradient-neutral: $neutral-gradient-scheme,
      gradient-dark: $dark-gradient-scheme,
      quinary: $light-gradient-scheme,
    ),
    alt-arc: url('../../richie/images/components/arc-white.svg'),
    alt-curve: url('../../richie/images/components/curve-white.svg'),
    alt-wave: url('../../richie/images/components/wave-white.svg'),
  ),
  accordion-plan: (
    item-dot-color: r-color('black'),
    title-color: r-color('lipstick'),
    content-color: r-color('brownish-grey'),
    border-color: r-color('light-grey'),
    background-color: null,
    dot-closed: url('../../richie/images/components/add-outline.svg'),
    dot-opened: url('../../richie/images/components/minus-outline.svg'),
  ),
  large-banner: (
    base-background-color: r-color('black-two'),
    base-color: r-color('white'),
    base-shadow: r-color('black-two'),
  ),
  hero-intro: (
    insert-background-image: url('../../richie/images/components/wave-white.svg'),
    inner-background: $white-mask-gradient,
    title-color: r-color('lipstick'),
    title-alt-color: r-color('black-two'),
    content-color: r-color('black'),
    search-input-background: r-color('white'),
    search-btn-background: r-color('lipstick'),
    search-icon-fill: r-color('white'),
    cta-variant-from: r-color('lipstick'),
    cta-variant-to: scale-color(r-color('lipstick'), $lightness: -10%),
    cta-color: r-color('white'),
    cta-border: r-color('lipstick'),
  ),
  section-plugin: (
    title-emphased-color: r-color('lipstick'),
  ),
  licence-plugin: (
    content-color: r-color('brownish-grey'),
    description-color: r-color('brownish-grey'),
  ),
  blogpost-glimpse: (
    card-background: r-color('white'),
    title-color: r-color('black'),
    title-hover-color: r-color('lipstick'),
    theme-border: r-color('lipstick'),
    content-color: r-color('brownish-grey'),
    content-hover-color: r-color('black'),
    media-background: r-color('light-grey'),
    date-color: r-color('brownish-grey'),
    date-hover-color: r-color('lipstick'),
    empty-color: r-color('black-two'),
  ),
  blogpost-glimpse-mini: (
    border: r-color('light-grey'),
  ),
  blogpost-glimpse-favorite: (
    content-color: inherit,
    title-color: inherit,
    excerpt-color: r-color('brownish-grey'),
    cta: $lipstick-scheme,
    cta-hover: $lipstick-scheme,
  ),
  button-caesura: (
    base: $lipstick-scheme,
    alternative: $clear-red-scheme,
    base-hover: $lipstick-scheme,
  ),
  badge-glimpse: (
    base-background: r-color('white'),
    title-color: r-color('black'),
    content-color: r-color('brownish-grey'),
  ),
  card-glimpse: (
    base-background: r-color('white'),
    divider-color: r-color('lipstick'),
    title-color: r-color('black') !important,
    content-color: r-color('brownish-grey') !important,
  ),
  category-glimpse-badges: (
    base-border: r-color('light-grey'),
    tag: $lipstick-scheme,
  ),
  category-glimpse: (
    base-border: rgba(r-color('black'), 0.125),
    base-hover-border: r-color('lipstick'),
    base-hover-color: r-color('lipstick'),
    base-background: r-color('white'),
    body-color: r-color('black'),
    title-color: inherit,
    title-hover-color: r-color('lipstick'),
    logo-empty-background: r-color('white-three'),
  ),
  course-glimpse-list: (
    count-color: r-color('brownish-grey'),
  ),
  course-glimpse: (
    card-background: r-color('white'),
    base-shadow: 0 0 6px r-color('light-grey'),
    base-hover-shadow: 0 0 6px r-color('battleship-grey'),
    cta-background: r-color('lipstick'),
    empty-color: r-color('brownish-grey'),
    icon-shadow: (
      0 10px 50px 0 rgba(r-color('black'), 0.05),
      0 12px 34px 0 rgba(r-color('black'), 0.15),
    ),
    icon: $lipstick-scheme,
    content-color: r-color('brownish-grey'),
    title-color: r-color('black'),
    organization-color: r-color('lipstick'),
    code-color: r-color('brownish-grey'),
    organization-media-empty-background: r-color('white-three'),
    organization-shadow: 0 0 6px r-color('light-grey'),
    svg-icon-fill: r-color('red'),
    footer: $lipstick-scheme,
  ),
  category-badges: (
    primary-item: $lipstick-scheme,
    secondary-item: $ocean-blue-scheme,
    tertiary-item: $mediumturquoise-scheme,
  ),
  category-tags: (
    primary-item: $lipstick-scheme,
    secondary-item: $ocean-blue-scheme,
    tertiary-item: $mediumturquoise-scheme,
  ),
  characteristics: (
    primary-item: $lipstick-scheme,
    secondary-item: $ocean-blue-scheme,
    tertiary-item: $mediumturquoise-scheme,
  ),
  form: (
    input-placeholder: r-color('grey32'),
    input-color: r-color('charcoal'),
    input-color-error: r-color('firebrick6'),
    input-border: r-color('grey32'),
    input-border-error: r-color('firebrick6'),
    input-border-focus: r-color('turquoise-blue'),
    input-outline: rgba(r-color('turquoise-blue'), 0.5),
    input-checked-background: r-color('firebrick6'),
    input-unchecked-background: transparent,
    input-unchecked-border: r-color('grey32'),
    input-checked-border: transparent,
    input-checked-color: r-color('white'),
    input-unchecked-color: transparent,
    message-color: r-color('grey32'),
  ),
  organization-glimpse-list: (
    empty-color: r-color('brownish-grey'),
    empty-background: transparent,
  ),
  organization-glimpse: (
    base-background: r-color('white'),
    base-border: r-color('light-grey'),
    logo-empty-background: r-color('white-three'),
    link-border: r-color('lipstick'),
  ),
  organization-glimpse-row: (
    base-background: r-color('white'),
    divider: r-color('light-grey'),
    hover-background: darken(r-color('white'), 2%),
    hover-title-color: r-color('lipstick'),
  ),
  pagination: (
    item-color: r-color('brownish-grey'),
    item-background: r-color('white'),
    item-border: r-color('light-grey'),
    current-color: r-color('white'),
    current-background: r-color('lipstick'),
  ),
  person-glimpse: (
    card-background: r-color('white'),
    base-shadow: 0 1px 2px rgba(r-color('battleship-grey'), 0.4),
    title-color: r-color('lipstick'),
    empty-background: r-color('white-three'),
    category: $lipstick-scheme,
    category-title: transparent,
    bio-color: r-color('brownish-grey'),
  ),
  program-glimpse: (
    card-background: r-color('white'),
    card-border: null,
    card-hover-border: null,
    content-color: r-color('brownish-grey'),
    title-color: r-color('ocean-blue'),
    media-decoration: url('../../richie/images/components/arc-white.svg'),
    empty-background: r-color('white-three'),
    footer: $indianred3-scheme,
    base-shadow: 0 0 6px r-color('light-grey'),
    base-hover-shadow: 0 0 6px r-color('battleship-grey'),
  ),
  program-glimpse-empty: (
    card-color: r-color('brownish-grey'),
    hover-border: r-color('light-grey'),
  ),
  quote-glimpse: (
    base-background: r-color('white'),
    base-shadow: 0 0 4px r-color('light-grey'),
    title-color: r-color('black'),
    content-color: r-color('purplish-grey'),
    icon-color: r-color('dark'),
  ),
  row_half-glimpse: (
    base-background: r-color('white'),
    divider-color: r-color('lipstick'),
    title-color: r-color('black') !important,
    content-color: r-color('brownish-grey') !important,
  ),
  row_full-glimpse: (
    base-background: r-color('white'),
    divider-color: r-color('lipstick'),
    title-color: r-color('black') !important,
    content-color: r-color('brownish-grey') !important,
  ),
  base-search: (
    input-background: transparent,
    icon-fill: r-color('brownish-grey'),
    input-border: r-color('light-grey'),
  ),
  social-network-badges: (
    base: $lipstick-scheme,
  ),
  blogpost-detail: (
    aside-glimpse-title-color: r-color('ocean-blue'),
    aside-glimpse-title-background: r-color('white'),
    aside-glimpse-title-border: r-color('ocean-blue'),
    categories: $lipstick-scheme,
    categories-tag-background: transparent,
    top-border: r-color('light-grey'),
    theme-border: r-color('lipstick'),
    pubdate-border: r-color('lipstick'),
    authors-border: r-color('lipstick'),
    cover-empty-background: r-color('white-three'),
    body-color: r-color('dark'),
    headline-color: r-color('brownish-grey'),
    headline-border: r-color('black-two'),
    headline-title-color: r-color('black-two'),
    social-network-badges: $lipstick-scheme,
  ),
  category-detail: (
    empty-background: r-color('white-three'),
    insert-background-image: url('../../richie/images/components/wave-white.svg'),
    logo-background: r-color('white'),
    logo-border: r-color('light-grey'),
    logo-shadow: 0 0.25rem 1.5625rem r-color('brownish-grey'),
    intro-title-color: r-color('lipstick'),
    description-color: r-color('brownish-grey'),
  ),
  course-detail: (
    organizations-title-color: r-color('brownish-grey'),
    aside-title-border: r-color('black-two'),
    primary-group-title-color: r-color('black-two'),
    primary-group-background: transparent,
    primary-group-arc: null,
    run-cta: $lipstick-scheme,
    run-descriptions-divider: r-color('light-grey'),
    plan-title-color: r-color('lipstick'),
    license-label-color: r-color('ocean-blue'),
    checkmark-list-decoration: url('../../richie/images/components/checkmark.svg'),
    view-more-runs-color: r-color('lipstick'),
    run-catalog-visibility-hidden-logo: url('../../richie/images/catalog_visibility/hidden.svg'),
    run-catalog-visibility-course-only-logo: url('../../richie/images/catalog_visibility/course_only.svg'),
    run-catalog-visibility-logo-color: r-color('ocean-blue'),
  ),
  organization-detail: (
    banner-empty-background: r-color('white-three'),
    insert-background-image: url('../../richie/images/components/wave-white.svg'),
    logo-border: r-color('light-grey'),
    logo-shadow: 0 0.25rem 1.5625rem r-color('brownish-grey'),
    intro-title: r-color('lipstick'),
    categories: $lipstick-scheme,
    description-color: r-color('brownish-grey'),
  ),
  program-detail: (
    cover-empty-background: r-color('white-three'),
  ),
  search-results: (
    overlay: r-color('black'),
    color: r-color('light-grey'),
  ),
  search-filters: (
    base-background: r-color('white'),
    toggler-background: r-color('pale-grey'),
    toggler-shadow: 0 0 0.2rem r-color('brownish-grey'),
    toggler-fill: r-color('brownish-grey'),
  ),
  search-filters-pane: (
    title-color: r-color('black'),
    clearer-hover-color: r-color('lipstick'),
  ),
  search-filters-group: (
    title-color: r-color('battleship-grey'),
  ),
  modal: (
    base-background: r-color('white'),
    base-border: r-color('brownish-grey'),
    base-color: r-color('brownish-grey'),
    close-background: r-color('white'),
    close-border: r-color('light-grey'),
    close-color: r-color('black'),
    overlay-background: r-color('white'),
  ),
  search-filters-group-modal: (
    button-background: r-color('lipstick'),
    button-color: r-color('white'),
    close-background: r-color('white'),
    close-border: r-color('light-grey'),
    close-color: r-color('black'),
    input-background: r-color('light-grey'),
    input-color: r-color('black'),
    item-border: r-color('light-grey'),
  ),
  search-filters-value: (
    base-color: r-color('brownish-grey'),
    base-border: r-color('light-grey'),
    hover-color: r-color('lipstick'),
    hover-border: r-color('light-grey'),
    active-color: r-color('black'),
    count-color: r-color('brownish-grey'),
    count-background: r-color('white'),
  ),
  search-filters-value-parent: (
    unfold-color: r-color('black'),
  ),
  styleguide: (
    grid-line-color: lighten(r-color('silver'), 5%),
    grid-border-color: r-color('silver'),
    cta-sample: $ocean-blue-scheme,
    spot-sample: $lipstick-scheme,
  ),
  selector: (
    base-background: r-color('white'),
    hover-background: r-color('white'),
    base-color: r-color('dark'),
    hover-color: r-color('dark'),
    base-border: r-color('light-grey'),
  ),
  spinner: (
    base-color: r-color('ocean-blue'),
    base-color-light: r-color('white'),
  ),
);
