# Backend jobs
# Build, lint and test backend development environment for a site
build-back:
  parameters:
    site:
      type: string
  docker:
    - image: circleci/python:3.7-stretch
  working_directory: ~/fun/sites/<< parameters.site >>
  steps:
    - checkout:
        path: ~/fun
    - restore_cache:
        keys:
          - v1-back-dependencies-{{ .Revision }}
    - run:
        name: Install development dependencies
        command: >
          pip install \
            --user \
            -r requirements/base.txt \
            -r requirements/dev.txt
    - save_cache:
        paths:
          - ~/.local
        key: v1-back-dependencies-{{ .Revision }}

lint-back:
  parameters:
    site:
      type: string
  docker:
    - image: circleci/python:3.7-stretch
  working_directory: ~/fun/sites/<< parameters.site >>/src/backend/
  steps:
    - checkout:
        path: ~/fun
    - restore_cache:
        keys:
          - v1-back-dependencies-{{ .Revision }}
    - run:
        name: Lint code with flake8
        command: ~/.local/bin/flake8
    - run:
        name: Lint code with isort
        command: ~/.local/bin/isort --recursive --check-only .
    - run:
        name: Lint code with black
        command: ~/.local/bin/black .
    - run:
        name: Lint code with pylint
        command: ~/.local/bin/pylint .
    - run:
        name: Lint code with bandit
        command: ~/.local/bin/bandit -qr .

test-back:
  parameters:
    site:
      type: string
  docker:
    - image: circleci/python:3.7-stretch
      environment:
        DJANGO_SETTINGS_MODULE: << parameters.site >>.settings
        PYTHONPATH: /home/circleci/fun/src/backend
        DJANGO_CONFIGURATION: Test
        DJANGO_SECRET_KEY: ThisIsAnExampleKeyForTestPurposeOnly
        DB_HOST: localhost
        DB_NAME: richie
        DB_USER: richie_user
        DB_PASSWORD: pass
        DB_PORT: 5432
    - image: circleci/postgres:9.6-alpine-ram
      environment:
        POSTGRES_DB: richie
        POSTGRES_USER: richie_user
        POSTGRES_PASSWORD: pass
  working_directory: ~/fun/sites/<< parameters.site >>/src/backend
  steps:
    - checkout:
        path: ~/fun
    - restore_cache:
        keys:
          - v1-back-dependencies-{{ .Revision }}
    # Run back-end (Django) test suite
    #
    # Nota bene: to run the django test suite, we need to ensure that the
    # PostgreSQL service is up and ready. To achieve this,
    # we wrap the command execution with dockerize, a tiny tool
    # installed in the development image. In our case, dockerize will wait
    # up to one minute until the database container is answering on port 5432.
    - run:
        name: Run tests
        command: |
              dockerize \
                -wait tcp://localhost:5432 \
                -timeout 60s \
                  ~/.local/bin/pytest
