apiVersion: v1
kind: Secret
metadata:
  labels:
    app: funmooc
    service: postgresql
  name: "{{ funmooc_database_secret_name }}"
  namespace: "{{ project_name }}"
data:
  POSTGRESQL_USER: "{{ FUNMOOC_VAULT.DB_USER | default('funmooc') | b64encode }}"
  POSTGRESQL_PASSWORD: "{{ FUNMOOC_VAULT.DB_PASSWORD | default('password') | b64encode }}"
