@import 'richie-education/scss/components/templates/richie/large_banner/large_banner';


// NOTE: Override some behaviors from original object stylesheet
//
.hero-intro {
  // NOTE: Add the grid row constraint
  @include make-container-max-widths();
  margin: 0 auto;

  // NOTE: Correctly fit background for small screens
  background-size: cover;
  @include media-breakpoint-up(md) {
    background-size: 100% auto;
  }

  // NOTE: Never use the pseudo element for arc/curve image
  &::after {
    content: none;
    display: none;
  }

  &__inner {
    padding: 1rem 0;
    // NOTE: Switch to flexbox to fit height to parent
    display: flex;

    // NOTE: Disable padding relative to topbar size since it does not stand
    // in absolute position anymore
    @include media-breakpoint-up(lg) {
      padding: 1rem 0;
      min-height: 34.75rem;
    }
  }

  // NOTE: Switch to flexbox with space-between behavior so the title stick to
  // top and content stick to bottom
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    // NOTE: Since we are under flexbox behavior, ensure title takes the full
    // width
    width: 100%;
  }
}
