$font-path: "../../richie/fonts/" !default;

// Font definition for DIN2014
@font-face {
    font-family: "DIN2014";
    src:
        url($font-path + "DIN-2014_Light.woff2") format("woff2"),
        url($font-path + "DIN-2014_Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "DIN2014";
    src:
        url($font-path + "DIN-2014_Demi.woff2") format("woff2"),
        url($font-path + "DIN-2014_Demi.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DIN2014";
    src:
        url($font-path + "DIN-2014_Bold.woff2") format("woff2"),
        url($font-path + "DIN-2014_Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

// Font definition for Gotham web
@font-face {
    font-family: "HCo Gotham";
    src:
        url($font-path + "Gotham-Light_Web.woff2") format("woff2"),
        url($font-path + "Gotham-Light_Web.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "HCo Gotham";
    src:
        url($font-path + "Gotham-Medium_Web.woff2") format("woff2"),
        url($font-path + "Gotham-Medium_Web.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "HCo Gotham";
    src:
        url($font-path + "Gotham-Bold_Web.woff2") format("woff2"),
        url($font-path + "Gotham-Bold_Web.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}


// Aliases
$r-font-family-din2014: "DIN2014", sans-serif;
$r-font-family-gotham: "HCo Gotham", sans-serif;
// NOTE: We keep the original names as used from Richie Sass sources
$r-font-family-montserrat: $r-font-family-gotham;
$r-font-family-hind: $r-font-family-din2014;

$r-fonts: (
  din2014: $r-font-family-din2014,
  gotham: $r-font-family-gotham,
  hind: $r-font-family-hind,
  montserrat: $r-font-family-montserrat,
);
