{% extends "courses/cms/course_detail.html" %}
{% load cms_tags i18n %}

{% block contact %}
{% with runs_dict=course.course_runs_dict %}
    <div class="course-detail__row course-detail__runs course-detail__runs--open">
        {% for run in runs_dict.0|add:runs_dict.1|add:runs_dict.2|dictsort:"start"|slice:":1" %}
            {% include "courses/cms/fragment_course_run.html" %}
        {% endfor %}
    </div>
{% endwith %}
{% endblock contact %}

{% block runs_open %}
<div class="course-detail__row course-detail__runs course-detail__runs--open">
    <h2 class="course-detail__title">
        {% blocktrans context "course_detail__title" %}Other course runs{% endblocktrans %}
        {% render_model_add course "" "" "get_admin_url_to_add_run" %}
    </h2>
    {% with open_runs=runs_dict.0|add:runs_dict.1|add:runs_dict.2|dictsort:"start" %}
        {% for run in open_runs %}
            {% if forloop.counter > 1 %}
                {% include "courses/cms/fragment_course_run.html" %}
            {% else %}
                {% if forloop.last %}
                    <div class="course-detail__empty">{% trans "No other open course runs" %}</div>
                {% endif %}
            {% endif %}
        {% empty %}
            <div class="course-detail__empty">{% trans "No open course runs" %}</div>
        {% endfor %}
    {% endwith %}
</div>
{% endblock runs_open %}
