///
/// Color palette and schemes
///

// Named colors
// ---------
$palette: (
  'black': #000000,
  'black-two': #232323,
  'dark': #29303b,
  'brownish-grey': #686868,
  'battleship-grey': #686f7a,
  'purplish-grey': #726c74,
  'light-grey': #d2d2d2,
  'silver': #d5dbe0,
  'pale-grey': #eceff1,
  'white-three': #fdfdfd,
  'white': #ffffff,
  'turquoise-blue': #0498be,
  'mediumturquoise': #becde1,
  'robin-egg-blue': #4fd0e7,
  'ocean-blue': #0069b3,
  'darkish-blue': #002d7f,
  'navy-blue': #001f50,
  'lipstick': #e51a2d,
  'indianred3': #df484b,
);

// Named gradients
// ---------
$light-gradient: linear-gradient(
  to top,
  r-color('silver') 0,
  r-color('white-three') 13rem,
  r-color('white') 14rem,
  r-color('white')
);
$robin-gradient: linear-gradient(
  79deg,
  r-color('robin-egg-blue') 0%,
  r-color('robin-egg-blue') 10%,
  r-color('turquoise-blue') 56%,
);
$middle-gradient: linear-gradient(
  271deg,
  r-color('turquoise-blue') 0%,
  r-color('ocean-blue') 99%,
);
$dark-gradient: linear-gradient(
  295deg,
  r-color('darkish-blue') 1%,
  r-color('ocean-blue') 96%,
);
$white-mask-gradient: (
  linear-gradient(
    to right,
    r-color('white') 0%,
    rgba(r-color('white'), 0.85) 15%,
    rgba(r-color('white'), 0.15) 60%,
    rgba(r-color('white'), 0) 70%
  ),
  linear-gradient(
    to left,
    r-color('white') 0%,
    rgba(r-color('white'), 0.85) 15%,
    rgba(r-color('white'), 0.15) 60%,
    rgba(r-color('white'), 0) 70%
  )
);

// Basic color schemes
// ---------
$lipstick-scheme: (
  font-color: r-color('white'),
  link-color: r-color('white'),
  svg-color: r-color('white'),
  background: r-color('lipstick'),
  hover-font-color: r-color('white'),
  hover-background: scale-color(r-color('lipstick'), $lightness: -10%),
);
$indianred3-scheme: (
  font-color: r-color('white'),
  link-color: r-color('light-grey'),
  svg-color: r-color('white'),
  background: r-color('indianred3'),
  hover-font-color: r-color('white'),
  hover-background: r-color('firebrick6'),
);
$darkish-blue-scheme: (
  font-color: r-color('white'),
  link-color: r-color('light-grey'),
  svg-color: r-color('white'),
  background: r-color('darkish-blue'),
  hover-font-color: r-color('white'),
  hover-background: scale-color(r-color('darkish-blue'), $lightness: -10%),
);
$ocean-blue-scheme: (
  font-color: r-color('white'),
  link-color: r-color('lipstick'),
  svg-color: r-color('white'),
  background: r-color('ocean-blue'),
  hover-font-color: r-color('white'),
  hover-background: scale-color(r-color('ocean-blue'), $lightness: -10%),
);
$mediumturquoise-scheme: (
  font-color: r-color('ocean-blue'),
  svg-color: r-color('ocean-blue'),
  background: r-color('mediumturquoise'),
  hover-font-color: r-color('ocean-blue'),
  hover-background: lighten(r-color('mediumturquoise'), 8%),
);
$white-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('black-two'),
  h2-color: r-color('black-two'),
  svg-color: r-color('black'),
  background: r-color('white'),
  hover-font-color: r-color('lipstick'),
  hover-background: darken(r-color('white'), 8%),
);
$light-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('black-two'),
  h2-color: r-color('black-two'),
  svg-color: r-color('black'),
  background: r-color('light-grey'),
  hover-font-color: r-color('lipstick'),
  hover-background: r-color('battleship-grey'),
);
$lightest-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('black-two'),
  h2-color: r-color('black-two'),
  svg-color: r-color('black'),
  background: r-color('pale-grey'),
  hover-font-color: r-color('lipstick'),
  hover-background: r-color('battleship-grey'),
);
$clouds-scheme: (
  background: bottom left / 100% 70% no-repeat r-color('smoke')
    url('../../richie/images/components/clouds.jpg'),
);
$transparent-clear-scheme: (
  font-color: r-color('white'),
  svg-color: r-color('white'),
  background: transparent,
  border-color: r-color('white'),
  hover-font-color: r-color('white'),
  hover-svg-color: r-color('white'),
  hover-background: rgba(r-color('white'), 0.3),
);
$transparent-darkest-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('black-two'),
  h2-color: r-color('black-two'),
  svg-color: r-color('black'),
  background: transparent,
  border-color: r-color('black'),
  hover-font-color: r-color('lipstick'),
  hover-svg-color: r-color('lipstick'),
  hover-border-color: r-color('lipstick'),
);
$light-gradient-scheme: (
  font-color: r-color('black-two'),
  svg-color: r-color('black-two'),
  background: $light-gradient,
);
$robin-gradient-scheme: (
  font-color: r-color('navy-blue'),
  svg-color: r-color('navy-blue'),
  background: $robin-gradient,
);
$middle-gradient-scheme: (
  font-color: r-color('white'),
  svg-color: r-color('white'),
  background: $middle-gradient,
  hover-font-color: r-color('white'),
);
$dark-gradient-scheme: (
  font-color: r-color('white'),
  svg-color: r-color('white'),
  background: $dark-gradient,
  hover-font-color: r-color('white'),
);
$white-mask-gradient-scheme: (
  font-color: r-color('black'),
  h1-color: r-color('black'),
  h2-color: r-color('black'),
  svg-color: r-color('black'),
  background: $white-mask-gradient,
  hover-font-color: r-color('lipstick'),
);

// Theme schemes
$r-theme: (
  base-schemes: (
    primary: $lipstick-scheme,
    secondary: $ocean-blue-scheme,
    tertiary: $darkish-blue-scheme,
    clear: $white-scheme,
    light: $light-scheme,
    lightest: $lightest-scheme,
    indianred3: $indianred3-scheme,
    light-gradient: $light-gradient-scheme,
    robin-gradient: $robin-gradient-scheme,
    middle-gradient: $middle-gradient-scheme,
    dark-gradient: $dark-gradient-scheme,
    white-mask-gradient: $white-mask-gradient-scheme,
    clouds: $clouds-scheme,
    transparent-clear: $transparent-clear-scheme,
    transparent-darkest: $transparent-darkest-scheme,
  ),
  base-gradients: (
    light-gradient: $light-gradient,
    robin-gradient: $robin-gradient,
    middle-gradient: $middle-gradient,
    dark-gradient: $dark-gradient,
    white-mask-gradient: $white-mask-gradient,
  ),
  topbar: (
    base-background: r-color('white'),
    over-background: rgba(r-color('white'), 0.1),
    over-border: r-color('light-grey'),
    hamburger-color: r-color('ocean-blue'),
    item-color: r-color('black'),
    item-hover-color: r-color('darkish-blue'),
    item-active-color: r-color('ocean-blue'),
    item-cta-color: r-color('white'),
    item-cta-background: r-color('lipstick'),
    item-cta-border: r-color('lipstick'),
    item-cta-hollow-color: r-color('black-two'),
    item-cta-hollow-background: transparent,
    item-cta-hollow-border: transparent,
    item-divider-border: r-color('light-grey'),
  ),
  body-content: (
    base-background: r-color('white'),
    insert-background-image: url('../../richie/images/components/wave-dark.svg'),
    base-link-color: r-color('lipstick'),
  ),
  body-footer: (
    base-color: r-color('light-grey'),
    base-background: r-color('black-two'),
    lang-color: r-color('white'),
    section-hover: r-color('white'),
    subtitle-color: r-color('white'),
    badge-button: $lipstick-scheme,
  ),
  body-mentions: (
    base-color: r-color('brownish-grey'),
    base-background: r-color('black'),
    poweredby-hover: r-color('white'),
  ),
  subheader: (
    base: $darkish-blue-scheme,
    container: $dark-gradient-scheme,
    cta: $darkish-blue-scheme,
    media-background: r-color('white'),
    teaser-border: rgba(r-color('white'), 0.3),
    search-input-color: r-color('white'),
    search-input-background: transparent,
    search-input-border: r-color('white'),
    search-input-placeholder: r-color('white'),
    social-network-badges: $transparent-clear-scheme,
  ),
  subheader-alt: (
    container-background: $dark-gradient,
    container-border: null,
    background-image: url('../../richie/images/components/wave-white.svg'),
  ),
  block-schemes: (
    empty-color: r-color('brownish-grey'),
    divider: r-color('pale-grey'),
    variants: (
      clear: $light-scheme,
      light: $middle-gradient-scheme,
      lightest: $lightest-scheme,
      gradient-light: $light-gradient-scheme,
      gradient-dark: $dark-gradient-scheme,
      quinary: $robin-gradient-scheme,
    ),
    alt-arc: url('../../richie/images/components/arc-white.svg'),
    alt-curve: url('../../richie/images/components/curve-white.svg'),
    alt-wave: url('../../richie/images/components/wave-white.svg'),
  ),
  accordion-plan: (
    item-dot-color: r-color('black'),
    title-color: r-color('lipstick'),
    content-color: r-color('brownish-grey'),
    border-color: r-color('light-grey'),
    background-color: null,
    dot-closed: url('../../richie/images/components/add-outline.svg'),
    dot-opened: url('../../richie/images/components/minus-outline.svg'),
  ),
  large-banner: (
    base-background-color: r-color('black-two'),
    base-color: r-color('white'),
    base-shadow: r-color('black-two'),
  ),
  hero-intro: (
    insert-background-image: null,
    inner-background: $white-mask-gradient,
    content-color: r-color('black'),
    search-input-background: r-color('white'),
    search-btn-background: r-color('lipstick'),
    search-icon-fill: r-color('white'),
    cta-variant-from: r-color('lipstick'),
    cta-variant-to: scale-color(r-color('lipstick'), $lightness: -10%),
    cta-color: r-color('white'),
    cta-border: r-color('lipstick'),
  ),
  licence-plugin: (
    content-color: r-color('brownish-grey'),
    description-color: r-color('brownish-grey'),
  ),
  blogpost-glimpse: (
    card-background: r-color('white'),
    title-color: r-color('black'),
    title-hover-color: r-color('lipstick'),
    theme-border: r-color('lipstick'),
    content-color: r-color('brownish-grey'),
    content-hover-color: r-color('black'),
    media-background: r-color('light-grey'),
    date-color: r-color('brownish-grey'),
    date-hover-color: r-color('lipstick'),
    empty-color: r-color('black-two'),
  ),
  blogpost-glimpse-mini: (
    border: r-color('light-grey'),
  ),
  blogpost-glimpse-favorite: (
    content-color: inherit,
    title-color: inherit,
    excerpt-color: r-color('brownish-grey'),
    cta: $lipstick-scheme,
    cta-hover: $lipstick-scheme,
  ),
  button-caesura: (
    base: $lipstick-scheme,
    base-hover: $lipstick-scheme,
  ),
  category-glimpse-badges: (
    base-border: r-color('light-grey'),
    tag: $lipstick-scheme,
  ),
  category-glimpse: (
    base-border: rgba(r-color('black'), 0.125),
    base-hover-border: r-color('lipstick'),
    base-hover-color: r-color('lipstick'),
    base-background: r-color('white'),
    body-color: r-color('black'),
    title-color: inherit,
    title-hover-color: r-color('lipstick'),
    logo-empty-background: r-color('white-three'),
  ),
  course-glimpse-list: (
    count-color: r-color('brownish-grey'),
  ),
  course-glimpse: (
    card-background: r-color('white'),
    base-shadow: 0 0 6px r-color('light-grey'),
    base-hover-shadow: 0 0 6px r-color('battleship-grey'),
    cta-background: r-color('lipstick'),
    empty-color: r-color('brownish-grey'),
    icon-shadow: (
      0 10px 50px 0 rgba(r-color('black'), 0.05),
      0 12px 34px 0 rgba(r-color('black'), 0.15),
    ),
    icon: $lipstick-scheme,
    content-color: r-color('brownish-grey'),
    title-color: r-color('black'),
    organization-color: r-color('lipstick'),
    organization-media-empty-background: r-color('white-three'),
    svg-icon-fill: r-color('white'),
    footer: $lipstick-scheme,
  ),
  category-badges: (
    primary-item: $indianred3-scheme,
    secondary-item: $ocean-blue-scheme,
    tertiary-item: $mediumturquoise-scheme,
  ),
  category-tags: (
    primary-item: $indianred3-scheme,
    secondary-item: $ocean-blue-scheme,
    tertiary-item: $mediumturquoise-scheme,
  ),
  characteristics: (
    primary-item: $lipstick-scheme,
    secondary-item: $ocean-blue-scheme,
    tertiary-item: $mediumturquoise-scheme,
  ),
  organization-glimpse-list: (
    empty-color: r-color('brownish-grey'),
    empty-background: transparent,
  ),
  organization-glimpse: (
    base-background: r-color('white'),
    base-border: r-color('light-grey'),
    logo-empty-background: r-color('white-three'),
    link-border: r-color('lipstick'),
  ),
  organization-glimpse-row: (
    base-background: r-color('white'),
    divider: r-color('light-grey'),
    hover-background: darken(r-color('white'), 2%),
    hover-title-color: r-color('lipstick'),
  ),
  pagination: (
    item-color: r-color('brownish-grey'),
    item-background: r-color('white'),
    item-border: r-color('light-grey'),
    current-color: r-color('white'),
    current-background: r-color('lipstick'),
  ),
  person-glimpse: (
    card-background: r-color('white'),
    base-shadow: 0 1px 2px rgba(r-color('battleship-grey'), 0.4),
    empty-background: r-color('white-three'),
    category: $lipstick-scheme,
    category-title: transparent,
    bio-color: r-color('brownish-grey'),
  ),
  program-glimpse: (
    card-background: r-color('white'),
    card-border: r-color('light-grey'),
    content-color: r-color('brownish-grey'),
    title-color: r-color('ocean-blue'),
    empty-background: r-color('white-three'),
    footer-border: r-color('light-grey'),
    date-color: r-color('brownish-grey'),
    cta-color: r-color('white'),
    cta-background: r-color('lipstick'),
    cta-hover-background: r-color('lipstick'),
    hover-border: bar,
  ),
  program-glimpse-empty: (
    card-color: r-color('brownish-grey'),
    hover-border: r-color('light-grey'),
  ),
  base-search: (
    input-background: transparent,
    icon-fill: r-color('brownish-grey'),
    input-border: r-color('light-grey'),
  ),
  social-network-badges: (
    base: $lipstick-scheme,
  ),
  blogpost-detail: (
    aside-glimpse-title-color: r-color('ocean-blue'),
    aside-glimpse-title-background: r-color('white'),
    aside-glimpse-title-border: r-color('ocean-blue'),
    categories: $lipstick-scheme,
    categories-tag-background: transparent,
    top-border: r-color('light-grey'),
    theme-border: r-color('lipstick'),
    pubdate-border: r-color('lipstick'),
    authors-border: r-color('lipstick'),
    cover-empty-background: r-color('white-three'),
    body-color: r-color('dark'),
    headline-color: r-color('brownish-grey'),
    headline-border: r-color('black-two'),
    headline-title-color: r-color('black-two'),
    social-network-badges: $lipstick-scheme,
  ),
  category-detail: (
    empty-background: r-color('white-three'),
    insert-background-image:
      url('../../richie/images/components/wave-white.svg'),
    logo-background: r-color('white'),
    logo-border: r-color('light-grey'),
    logo-shadow: 0 0.25rem 1.5625rem r-color('brownish-grey'),
    intro-title-color: r-color('lipstick'),
    description-color: r-color('brownish-grey'),
  ),
  course-detail: (
    organizations-title-color: r-color('brownish-grey'),
    aside-title-border: r-color('black-two'),
    primary-group-title-color: r-color('lipstick'),
    primary-group-background: transparent,
    primary-group-arc: null,
    run-cta: $lipstick-scheme,
    run-descriptions-divider: r-color('light-grey'),
    plan-title-color: r-color('lipstick'),
    license-label-color: r-color('ocean-blue'),
  ),
  organization-detail: (
    banner-empty-background: r-color('white-three'),
    insert-background-image:
      url('../../richie/images/components/wave-white.svg'),
    logo-border: r-color('light-grey'),
    logo-shadow: 0 0.25rem 1.5625rem r-color('brownish-grey'),
    intro-title: r-color('lipstick'),
    categories: $lipstick-scheme,
    description-color: r-color('brownish-grey'),
  ),
  program-detail: (
    cover-empty-background: r-color('white-three'),
  ),
  search-results: (
    overlay: r-color('black'),
  ),
  search-filters: (
    base-background: r-color('white'),
    toggler-background: r-color('pale-grey'),
    toggler-shadow: 0 0 0.2rem r-color('brownish-grey'),
    toggler-fill: r-color('brownish-grey'),
  ),
  search-filters-pane: (
    title-color: r-color('black'),
    clearer-hover-color: r-color('lipstick'),
  ),
  search-filters-group: (
    title-color: r-color('battleship-grey'),
    modal-overlay-background: r-color('white'),
  ),
  search-filters-group-modal: (
    base-color: r-color('brownish-grey'),
    base-background: r-color('white'),
    base-border: r-color('brownish-grey'),
    input-color: r-color('black'),
    input-background: r-color('light-grey'),
    item-border: r-color('light-grey'),
    close-color: r-color('black'),
    close-border: r-color('light-grey'),
    close-background: r-color('white'),
    button-color: r-color('white'),
    button-background: r-color('lipstick'),
    overlay-background: r-color('white'),
  ),
  search-filters-value: (
    base-color: r-color('brownish-grey'),
    base-border: r-color('light-grey'),
    hover-color: r-color('lipstick'),
    hover-border: r-color('light-grey'),
    active-color: r-color('black'),
    count-color: r-color('brownish-grey'),
    count-background: r-color('white'),
  ),
  search-filters-value-parent: (
    unfold-color: r-color('black'),
  ),
  styleguide: (
    grid-line-color: lighten(r-color('silver'), 5%),
    grid-border-color: r-color('silver'),
    cta-sample: $ocean-blue-scheme,
    spot-sample: $lipstick-scheme,
  ),
);
