{% extends "courses/cms/course_detail.html" %}
{% load cms_tags i18n %}

{% block contact %}
    <p class="subheader__cta-legend">{% trans "Would you like to use this course with your students?" %}</p>
    <a href="{% page_url 'contact' %}" class="subheader__cta">{% trans "Contact us" %}</a>
{% endblock contact %}
{% comment %}Disable licences part. It does not make sens in FUN campus.{% endcomment %}
{% block licenses %}{% endblock licenses %}
{% comment %}Disable content parts related to course runs{% endcomment %}
{% block snapshot %}{% endblock snapshot %}
{% block runs %}{% endblock runs %}
