@import 'richie-education/scss/components/header';

.topbar {
  $topbar-selector: &;
  // NOTE: Remove useless padding
  padding: 0;

  @include media-breakpoint-up($r-topbar-breakpoint) {

    &--over {
      // NOTE: Remove useless padding
      padding: 0;
    }
  }

  &__menu {
    // NOTE: Remove useless top margin
    margin-top: 0;

    &--aside {
      // NOTE: Use the right font family
      font-family: $r-font-family-montserrat;
    }
  }

  &__item {
    & > a {
      @include media-breakpoint-up($r-topbar-breakpoint) {
        // NOTE: Adjust padding
        padding: 0.75rem 0.9rem;
      }
    }
  }

  .user-login__btn {
    // NOTE: Adjust size according to the font family
    font-size: 0.8rem;
  }

  .richie-react--language-selector {
    // NOTE: Adjust size according to the font family
    .selector__button,
    .selector__list__link {
      font-size: 0.8rem;
    }

    // NOTE: A trick to move language selector under the header CTAs and aside the main
    // menu without changing DOM structure and override template
    @include media-breakpoint-up($r-topbar-breakpoint) {
      position: absolute;
      bottom: 0;
    }
  }
}
