@import 'richie-education/scss/components/subheader';

.subheader {
  .category-badge-list {
    // NOTE: Enforce the right badge variant
    .category-badge {
      @include r-button-colors(
        r-theme-val(subheader, category-badge),
        $apply-border: true
      );
    }
  }

  .course-detail__row {
    // NOTE: Add a little space divider
    margin-top: 2rem;
    // NOTE: Left alignment is prefered for run sessions
    text-align: left;
  }
}
