{% load i18n static %}{% spaceless %}
    <a
        href="https://www.facebook.com/france.universite.numerique/"
        class="body-footer__badge"
        target="_blank"
        onclick="return sendTag('Facebook');"
    >
        <svg role="img">
            <title>{% trans "Facebook" %}</title>
            <use xlink:href="#icon-facebook" />
        </svg>
    </a>
    <a
        href="https://twitter.com/FunMooc"
        class="body-footer__badge"
        target="_blank"
        title="{% trans "Twitter page" %}"
        onclick="return sendTag('Twitter');"
    >
        <svg role="img">
            <title>{% trans "Twitter" %}</title>
            <use xlink:href="#icon-twitter" />
        </svg>
    </a>
   <a
        href="https://www.linkedin.com/school/franceuniversitenumerique/"
        class="body-footer__badge"
        target="_blank"
        title="{% trans "Linkedin" %}"
        onclick="return sendTag('LinkedIn');"
    >
        <svg role="img">
            <title>{% trans "Linkedin" %}</title>
            <use xlink:href="#icon-linkedin" />
        </svg>
    </a>

    <script type="text/javascript">
        function sendTag (media) {
            console.log(window.tag)
            // window.tag does not exist even though it was created in base.html
            window.tag.click.send({
                elem: this,
                name: 'partage-' + media,
                chapter1: 'menu',
                chapitre2: '#nom_article_consulte#',
                level2: '2',
                type: 'exit'
            });
            return true
        }
    </script>
{% endspaceless %}
